body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #685d571f;
}

.menuContainer {
    background-color: #313233;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.menuContainer a, footer a {
    padding-right: 50px;
    color: #665D58;
    font-size: 20px;
    transition: 1s;
}

a:hover {
    text-decoration: none;
    color: #948177;
}

#pageContainer {
    min-height: 100%;
    position: relative;
    height: 100%;
}

.container {
    flex: 1 0 auto;
    padding: 20px;
}

#stepsTable, #customStepTable {
    background: #bfbfbf;
    color: #393939;
    min-height: 300px;
}

label {
    padding-right: 10px;
}

h3 {
    text-align: center;
    color: #7F7461;
}

h2 {
    text-align: center;
    color: #7E7F73;
}

h5 {
    font-size: 20px;
    color: #585866;
    font-weight: 300;
    text-align: center;
}

#danceMovementContainer h5 {
    color: #214F7F;
    font-weight: 400;
}

p {
    text-align: center;
    font-size: 17px;
}

ul {
    font-size: 15px;
    text-align: center;
    list-style: none;
}

#loginContainer, #signupContainer, #editProfileContainer {
    margin: 0 auto;
    width: 500px;
    height: 500px;
}

form {
    margin-top: 30px;
}


footer {
    text-align: center;
    background-color: #313233;
    flex-shrink: 0;
    padding: 20px;
}

.mapouter {
    text-align: right;
    height: 500px;
    width: 600px;
}
.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 500px;
    width: 600px;
    marigin: 0 auto;

}

#buildDance {
    margin: 0 auto;
    width: 500px;
    height: 300px;
}

#danceSelection {
    margin: 0 auto;
    width: 500px;
    min-height: 100px;
}

#choreographyDanceName, h4 {
    text-align: center;
    padding-bottom: 40px;
    font-size: 25px;
    color: #60357F;
    font-weight: 300;
}



#addPersonalStepBtn {
    float: right;
}

.scrollbar {
    background-color: #bebebe;
    float: left;
    height: 500px;
    margin-bottom: 25px;
    margin-left: 22px;
    margin-top: 40px;
    width: 100%;
    overflow-y: scroll;
}

.force-overflow {
    min-height: 450px;
}

#style-1::-webkit-scrollbar {
    width: 6px;
    background: #bebebe;
}

.descriptionImg {
    width: 30%;
}

 #imageContainer {
     background-repeat: no-repeat;
     background-size: cover;
     min-height: 250px;
     background-position: 35% 65%;
     filter: grayscale(1);
 }

#imageContainer:hover {
    filter: grayscale(0);
    transition: 2s;
}

.glyphicon-trash {
    font-size:20px;
    color: #69181A;

}

.glyphicon-save {
    font-size: 20px;
    color: #59559e;
}

.glyphicon-log-in {
    color: #685d57;
}

#aboutFirsDance, #aboutDance, #aboutDanceMovement {
    padding-bottom: 25px;
}

.container p, .container ul {
    color: #7F7F7F;
    font-weight: 300;
    font-size: 18px;
}


#buildDanceBtn {
    background-color: #8E8EB1 !important;
    color: #e2e0e0;
}

#buildDanceBtn:hover {
    background-color: #9b9bbf !important;
}

#addPersonalStepBtn {
    background-color: #716495 !important;
    color: #e2e0e0;
}

#addPersonalStepBtn:hover {
    background-color: #7e71a3 !important;
}

.btn-warning {
    color: #fff;
    background-color: #CBA35E !important;
    border-color: #96722e !important;
}

.btn-warning:hover {
    background-color: #d6ae5e !important;
}








