body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #fff;
}

#menuContainer {
    background-color: #839fed;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

#pageContainer {
    min-height: 100%;
    position: relative;
    height: 100%;
}

.container {
    flex: 1 0 auto;
    padding: 20px;
}

#menuContainer a, footer a {
    padding-right: 50px;
    color: #fff;
    font-size: 20px;
}

h3, h2 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 17px;
}

ul {
    font-size: 15px;
    text-align: center;
    list-style: none;
}

#loginContainer, #signupContainer, #editProfileContainer {
    margin: 0 auto;
    width: 500px;
    height: 500px;
}


footer {
    text-align: center;
    background-color: #839fed;
    flex-shrink: 0;
    padding: 20px;
}

.mapouter {
    text-align: right;
    height: 500px;
    width: 600px;
}
.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 500px;
    width: 600px;
    marigin: 0 auto;

}



