#menuIcon {
    display: none;
    color: #665D58;
    float: right;
    padding-right: 20px;
    font-size: 25px;
}

#mobileMenuLinks {
    display: none;
    background-color: #2b2c2d;
}

#mobileMenuLinks > ul {
    float: right;
    text-align: left;
    padding-right: 20px;
}

#mobileMenuLinks a {
    color: #685d57;
    font-size: 18px;
}

#mobileMenuLinks li {
    line-height: 2;
}

#footerContainer ul {
    display: inline-flex;
}

#mobileMenuLinks a:hover, #menuIcon:hover {
    text-decoration: none;
    color: #948177;
}


@media (max-width: 1050px) {

    .container {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    #editProfileContainer, #buildDance, #danceSelection, #loginContainer, #signupContainer {
        width: 100%;
    }

    .menuContainer {
        display: none;
    }

    #menuIcon {
        display: block;
        background-color: #313233;
        padding-top: 20px;
        padding-bottom: 10px;
        text-align: right;
    }

    #imageContainer {
        filter: grayscale(0);
    }

    #footerContainer ul {
        display: inline-block;
    }
}